<div class="signin-wrapper">
    <div class="form">
        <form #signInForm="ngForm" class="global-form">
            <div class="input-wrapper">
                <label for="email">Username or Email:</label>
                <input id="email" name="email" [(ngModel)]="signInObj.usernameOrEmail" required minlength="3"
                    #usernameOrEmailInput="ngModel" placeholder="Enter a Username or Email..." />
                <div *ngIf="usernameOrEmailInput.invalid && usernameOrEmailInput.touched" class="validationerror">
                    <small *ngIf="usernameOrEmailInput.errors?.['required']">Username or email is required.</small>
                    <small *ngIf="usernameOrEmailInput.errors?.['minlength']">Username or email must be at least 3
                        characters long.</small>
                </div>
            </div>
            <div class="input-wrapper">
                <label for="password">Password:</label>
                <input id="password" name="password" type="password" [(ngModel)]="signInObj.password" required
                    [pattern]="passwordPattern" #password="ngModel" placeholder="Enter the Password..." />
                <div *ngIf="password.invalid && password.touched" class="validationerror">
                    <small *ngIf="password.errors?.['required']">Password is required.</small>
                    <small *ngIf="password.errors?.['minlength']">Password must be at least 6 characters long.</small>
                    <small *ngIf="password.errors?.['pattern']">
                        Password must contain at least one lowercase letter, one uppercase letter, one number, and one
                        special character.
                    </small>
                </div>
            </div>
            <a class="link" (click)="forgotPassword()">Forgot password?</a>

            <button type="button" (click)="signIn()" [disabled]="signInForm.invalid">Sign In</button>
            <div *ngIf="signInError">
                {{ signInError }}
              </div>
        </form>
    </div>

    <div>
        Not registered yet?
        <a (click)="showSignUp()" class="link">Sign Up</a>
    </div>
</div>