<div class="signin-wrapper">
    <div class="form">
        <form #signInForm="ngForm" class="global-form" (ngSubmit)="signIn()">
            <div class="input-wrapper">
                <label for="usernameOremail">{{text.form.labels.usernameOrEmail}}</label>
                <input id="usernameOremail" name="usernameOremail" class="custom-input"
                    [(ngModel)]="signInObj.usernameOrEmail" [disabled]="isLoading" minlength="3"
                    #usernameOrEmailInput="ngModel" placeholder={{text.form.placeholders.usernameOrEmail}} required />
                <div *ngIf="usernameOrEmailInput.invalid && usernameOrEmailInput.touched" class="validationerror">
                    <small *ngIf="usernameOrEmailInput.errors?.['required']">{{text.form.errors.required}}</small>
                    <small *ngIf="usernameOrEmailInput.errors?.['minlength']">{{text.form.errors.minLength(3)}}</small>
                </div>
            </div>

            <div class="input-wrapper">
                <label for="password">{{text.form.labels.password}}</label>
                <input id="password" name="password" type="password" class="custom-input"
                    [(ngModel)]="signInObj.password" [disabled]="isLoading" [pattern]="passwordPattern"
                    #password="ngModel" placeholder={{text.form.placeholders.password}} required />
                <div *ngIf="password.invalid && password.touched" class="validationerror">
                    <small *ngIf="password.errors?.['required']">{{text.form.errors.required}}</small>
                    <small *ngIf="password.errors?.['minlength']">{{text.form.errors.minLength(6)}}</small>
                    <small *ngIf="password.errors?.['pattern']">{{text.form.errors.passwordComplexity}}</small>
                </div>
            </div>

            <a class="link" tabindex="0" routerLink="/forgotpassword">Forgot password?</a>

            <button type="submit" [disabled]="signInForm.invalid || isLoading" class="custom-button">
                <ng-container *ngIf="!isLoading">{{ text.form.buttons.signIn }}</ng-container>
                <ng-container *ngIf="isLoading">
                    {{ text.form.buttons.signInLoading }}<span class="dot-loader"></span>
                </ng-container>
            </button>

            <div *ngIf="signInError" class="error-message">
                {{ signInError }}
            </div>
        </form>
    </div>

    <div>
        Not registered yet?
        <a class="link" tabindex="0" routerLink='/signup'>{{text.form.buttons.signup}}</a>
    </div>
</div>