<div class="forgotPassword-wrapper">
    <div>
        <div *ngIf="reset">
            <form action="" class="global-form">
                <div class="input-wrapper">
                    <label for="username">{{text.form.labels.usernameOrEmail}}</label>
                    <input name="username" [(ngModel)]="changePasswordObj.usernameOrEmail" class="custom-input" type="text"
                        #usernameOrEmailInput="ngModel" minlength="3" placeholder={{text.form.placeholders.usernameOrEmail}} required />
                    <div *ngIf="usernameOrEmailInput.invalid && usernameOrEmailInput.touched" class="validationerror">
                        <small *ngIf="usernameOrEmailInput.errors?.['required']">{{text.form.errors.required}}</small>
                        <small *ngIf="usernameOrEmailInput.errors?.['minlength']">{{text.form.errors.minLength(3)}}</small>
                    </div>
                </div>

                <button type="button" (click)="fetchQuestion()" class="custom-button">Find Account</button>
            </form>
        </div>

        <div *ngIf="answerIt">
            <form action="" class="global-form">
                <div class="input-wrapper">
                    <label for="question">{{text.form.labels.securityQuestion}}</label>
                    <div>{{changePasswordObj.securityQuestion}}</div>
                </div>
                <div class="input-wrapper">
                    <label for="answer">Your answer:</label>
                    <input name="answer" placeholder="Enter something memorable" class="custom-input"
                        [(ngModel)]="changePasswordObj.securityAnswer" type="text" required />
                </div>
                
                <button type="submit" (click)="checkAnswer()" class="custom-button">
                    Check Answer
                </button>
            </form>
        </div>

        <div *ngIf="changePassword">
            <form action="" class="global-form">
                <div class="input-wrapper">
                    <label for="password">Password:</label>
                    <input name="password" [(ngModel)]="changePasswordObj.newPassword" class="custom-input" #passwordField="ngModel"
                        type="password" required />
                </div>
                <div class="input-wrapper">
                    <label for="password">Confirm Password:</label>
                    <input name="password" [(ngModel)]="confirmPassword" class="custom-input" #confirmPasswordField="ngModel" type="password" required />
                </div>
                <div *ngIf="!passwordField.touched || !confirmPasswordField.touched || changePasswordObj.newPassword !== confirmPassword">
                    Passwords do not match.
                </div>
                <button type="submit"
                    [disabled]="!passwordField.touched || !confirmPasswordField.touched || changePasswordObj.newPassword !== confirmPassword"
                    (click)="resetPassword()" class="custom-button">
                    Reset Password
                </button>
            </form>
        </div>
    </div>
    <div>
        Already remembered? <a (click)="showSignIn()" class="link" tabindex="0">Sign In</a>
    </div>
</div>