<div class="forgotPassword-wrapper">
    <div>
        <div *ngIf="reset">
            <form #fetchQuestionForm="ngForm" class="global-form" (ngSubmit)="fetchQuestion()">
                <div class="input-wrapper">
                    <label for="username">{{text.form.labels.usernameOrEmail}}</label>
                    <input name="username" [(ngModel)]="changePasswordObj.usernameOrEmail" class="custom-input"
                        [disabled]="isLoading" type="text" #usernameOrEmailInput="ngModel" minlength="3"
                        placeholder={{text.form.placeholders.usernameOrEmail}} required />
                    <div *ngIf="usernameOrEmailInput.invalid && usernameOrEmailInput.touched" class="validationerror">
                        <small *ngIf="usernameOrEmailInput.errors?.['required']">{{text.form.errors.required}}</small>
                        <small
                            *ngIf="usernameOrEmailInput.errors?.['minlength']">{{text.form.errors.minLength(3)}}</small>
                    </div>
                </div>

                <button type="submit" [disabled]="fetchQuestionForm.invalid || isLoading" class="custom-button">
                    <ng-container *ngIf="!isLoading">{{ text.form.buttons.fetchQuestion }}</ng-container>
                    <ng-container *ngIf="isLoading">
                        {{ text.form.buttons.fetchQuestionLoading }}<span class="dot-loader"></span>
                    </ng-container>
                </button>

                <div *ngIf="errorMessage" class="error-message">
                    {{ errorMessage }}
                </div>
            </form>
        </div>

        <div *ngIf="answerIt">
            <form #checkanswerForm="ngForm" class="global-form" (ngSubmit)="checkAnswer()">
                <div class="input-wrapper">
                    <label for="question">{{text.form.labels.securityQuestion}}</label>
                    <div>{{changePasswordObj.securityQuestion}}</div>
                </div>
                <div class="input-wrapper">
                    <label for="answer">Your answer:</label>
                    <input name="answer" [(ngModel)]="changePasswordObj.securityAnswer" class="custom-input"
                        [disabled]="isLoading" type="text" #checkAnswerInput="ngModel" minlength="2"
                        placeholder="Enter your answer..." required />
                    <div *ngIf="checkAnswerInput.invalid && checkAnswerInput.touched" class="validationerror">
                        <small *ngIf="checkAnswerInput.errors?.['required']">{{text.form.errors.required}}</small>
                        <small *ngIf="checkAnswerInput.errors?.['minlength']">{{text.form.errors.minLength(2)}}</small>
                    </div>
                </div>

                <button type="submit" [disabled]="checkanswerForm.invalid || isLoading" class="custom-button">
                    <ng-container *ngIf="!isLoading">{{ text.form.buttons.checkAnswer }}</ng-container>
                    <ng-container *ngIf="isLoading">
                        {{ text.form.buttons.checkAnswerLoading }}<span class="dot-loader"></span>
                    </ng-container>
                </button>

                <div *ngIf="errorMessage" class="error-message">
                    {{ errorMessage }}
                </div>
            </form>
        </div>

        <div *ngIf="changePassword">
            <form #changePasswordForm="ngForm" class="global-form" (ngSubmit)="resetPassword()">

                <div class="input-wrapper">
                    <label for="newPassword">{{text.form.labels.password}}</label>
                    <input id="newPassword" name="newPassword" [(ngModel)]="changePasswordObj.newPassword"
                        class="custom-input" type="password" required #passwordField="ngModel" [disabled]="isLoading"
                        minlength="6" />
                    <div *ngIf="passwordField.invalid && passwordField.touched" class="validationerror">
                        <small *ngIf="passwordField.errors?.['required']">{{ text.form.errors.required }}</small>
                        <small *ngIf="passwordField.errors?.['minlength']">{{ text.form.errors.minLength(6) }}</small>
                    </div>
                </div>

                <div class="input-wrapper">
                    <label for="confirmPassword">Confirm Password:</label>
                    <input id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword"
                        class="custom-input" type="password" required #confirmPasswordField="ngModel"
                        [disabled]="isLoading" minlength="6" />
                    <div *ngIf="confirmPasswordField.invalid && confirmPasswordField.touched" class="validationerror">
                        <small *ngIf="confirmPasswordField.errors?.['required']">{{ text.form.errors.required }}</small>
                        <small *ngIf="confirmPasswordField.errors?.['minlength']">{{ text.form.errors.minLength(6)
                            }}</small>
                    </div>
                </div>

                <div *ngIf="passwordField.valid && confirmPasswordField.valid && changePasswordObj.newPassword !== confirmPassword"
                    class="validationerror">
                    Passwords do not match.
                </div>

                <button type="submit"
                    [disabled]="isLoading || !changePasswordForm.valid || changePasswordObj.newPassword !== confirmPassword"
                    class="custom-button">
                    <ng-container *ngIf="!isLoading">{{ text.form.buttons.resetPassword }}</ng-container>
                    <ng-container *ngIf="isLoading">
                        {{ text.form.buttons.resetPasswordLoading }}<span class="dot-loader"></span>
                    </ng-container>
                </button>

                <div *ngIf="errorMessage" class="error-message">
                    {{ errorMessage }}
                </div>
            </form>
        </div>

    </div>
    <div>
        Already remembered? <a (click)="showSignIn()" (keydown.enter)="showSignIn()" class="link" tabindex="0">Sign
            In</a>
    </div>
</div>