<div class="forgotPassword-wrapper">
    <div>
        <div *ngIf="reset">
            <form action="" class="global-form">
                <div class="input-wrapper">
                    <label for="username">User Name:</label>
                    <input name="username" [(ngModel)]="changePasswordObj.usernameOrEmail" type="text" required>
                </div>
                <button type="button" (click)="fetchQuestion()">Find Account</button>
            </form>
        </div>
        <div *ngIf="answerIt">
            <form action="" class="global-form">
                <div class="input-wrapper">
                    <label for="question">Journal Recovery Prompt:</label>
                    <div>{{changePasswordObj.securityQuestion}}</div>
                </div>
                <div class="input-wrapper">
                    <label for="answer">Your answer:</label>
                    <input name="answer" placeholder="Enter something memorable" [(ngModel)]="changePasswordObj.securityAnswer" type="text" required>
                </div>
                <button type="submit" (click)="checkAnswer()">
                    Check Answer
                </button>
            </form>
        </div>
        <div *ngIf="changePassword">
            <form action="" class="global-form">
                <div class="input-wrapper">
                    <label for="password">Password:</label>
                    <input name="password" [(ngModel)]="changePasswordObj.newPassword" #passwordField="ngModel" type="password"
                        required="">
                </div>
                <div class="input-wrapper">
                    <label for="password">Confirm Password:</label>
                    <input name="password" [(ngModel)]="confirmPassword" #confirmPasswordField="ngModel" type="password"
                        required="">
                </div>
                <div
                    *ngIf="!passwordField.touched || !confirmPasswordField.touched || changePasswordObj.newPassword !== confirmPassword">
                    Passwords do not match.
                </div>
                <button type="submit"
                    [disabled]="!passwordField.touched || !confirmPasswordField.touched || changePasswordObj.newPassword !== confirmPassword" (click)="resetPassword()">
                    Reset Password
                </button>
            </form>
        </div>
    </div>
    <div>
        Already remembered?  <a (click)="showSignIn()" class="link">Sign In</a>
    </div>
</div>