$black : black;

$bg-color: #FFFFFF;               
$surface-color: #F7F7F7;          
$primary-color: #00BFA6;          
$secondary-color: #89CFF0;        
$accent-color: #E26D9C;           
$text-color: #1F1F1F;             
$muted-text-color: #666666;       
$error-color: #E53935; 
$primary-dark: #00665A;

/* Dark Theme */
$dark-bg-color: #1E1E1E;
$dark-surface-color: #2A2A2A;
$dark-primary-color: #90CAF9;
$dark-secondary-color: #FFD54F;
$dark-accent-color: #F48FB1;
$dark-text-color: #F5F5F5;
$dark-muted-text-color: #BBBBBB;
$dark-error-color: #f28b82;

$font-size-sm: 0.875rem;   // 14px
$font-size-base: 1rem;     // 16px
$font-size-lg: 1.125rem;   // 18px
$font-size-xl: 1.5rem;     // 24px
$font-size-xxl: 2rem;      // 32px

