<div class="hamburger">
    <input type="checkbox" id="menu-toggle" class="custom-input" [checked]="isChecked" (change)="toggleCheckbox()"
        aria-label="Toggle menu" />

    <label for="menu-toggle" class="menu-icon" tabindex="0" role="button" aria-controls="menu" aria-expanded="isChecked"
        (keydown)="onKeyDown($event)">
        <span></span>
        <span></span>
        <span></span>
    </label>

    <nav class="menu" id="menu" [attr.aria-hidden]="!isChecked">
        <a *ngFor="let item of menuItems" [routerLink]="item.path" (click)="toggleCheckbox()" tabindex="0">
            {{ item.label }}
        </a>
        <a href="#" (click)="logOut()" tabindex="0">
            Logout
        </a>
    </nav>
</div>