<div class="signUp-wrapper">
    <div>
        <form #signUpForm="ngForm" class="global-form">
            <div class="input-wrapper">
                <label for="username">{{text.form.labels.usename}}</label>
                <input name="username" [(ngModel)]="signUpObj.userName" type="text" #username="ngModel" minlength="3" placeholder={{text.form.placeholders.usename}} required />
                <div *ngIf="username.invalid && username.touched" class="validationerror">
                    <small *ngIf="username.errors?.['required']">{{text.form.errors.required}}</small>
                    <small *ngIf="username.errors?.['minlength']">{{text.form.errors.minLength(3)}}</small>
                </div>
            </div>

            <div class="input-wrapper">
                <label for="email">{{text.form.labels.email}}</label>
                <input name="email" [(ngModel)]="signUpObj.email" type="email" #email="ngModel" [pattern]="emailPattern" placeholder={{text.form.placeholders.email}} required />
                <div *ngIf="email.invalid && email.touched" class="validationerror">
                    <small *ngIf="email.errors?.['required']">{{text.form.errors.required}}</small>
                    <small *ngIf="email.errors?.['pattern']">{{text.form.errors.emailPattern}}</small>
                  </div>
            </div>

            <div class="input-wrapper">
                <label for="question">{{text.form.labels.securityQuestion}}</label>
                <app-custom-dropdown
                    name="question"
                    [(ngModel)]="signUpObj.securityQuestion"
                    [placeholder]="text.form.placeholders.securityQuestion"
                    [options]="journalQuestions"
                    required>
                </app-custom-dropdown>
            </div>

            <div class="input-wrapper">
                <label for="answer">{{text.form.labels.securityAnswer}}</label>
                <input name="answer" [(ngModel)]="signUpObj.securityAnswer" type="text" #securityanswer="ngModel" 
                minlength="2" placeholder={{text.form.placeholders.securityAnswer}} required />
                <div *ngIf="securityanswer.invalid && securityanswer.touched" class="validationerror">
                    <small *ngIf="securityanswer.errors?.['required']">{{text.form.errors.required}}</small>
                    <small *ngIf="securityanswer.errors?.['minlength']">{{text.form.errors.minLength(2)}}</small>
                </div>
            </div>

            <div class="input-wrapper">
                <label for="password">{{text.form.labels.password}}</label>
                <input id="password" name="password" type="password" [(ngModel)]="signUpObj.password"
                    [pattern]="passwordPattern" #password="ngModel" placeholder={{text.form.placeholders.password}} required />
                <div *ngIf="password.invalid && password.touched" class="validationerror">
                    <small *ngIf="password.errors?.['required']">{{text.form.errors.required}}</small>
                    <small *ngIf="password.errors?.['minlength']">{{text.form.errors.minLength(6)}}</small>
                    <small *ngIf="password.errors?.['pattern']">{{text.form.errors.passwordComplexity}}</small>
                </div>
            </div>

            <button type="button" (click)="SignUp()" [disabled]="signUpForm.invalid">{{text.form.buttons.signup}}</button>
        </form>
    </div>
    <div>
        Already have a account? <a class="link" tabindex="0" routerLink = '/signin'> {{text.form.buttons.signIn}}</a>
    </div>
</div>