<div class="entries">
  <div class="entry" *ngFor="let entry of entries">
    <div class="entry-wrapper">
      <div class="entry-header">
        <div class="entry-meta">
          <span class="entry-date">{{ entry.date | date:'dd MMM yyyy' }}</span>
          <span *ngIf="entry.mood"> | </span>
          <span *ngIf="entry.mood">{{ entry.mood }}</span>
        </div>

        <div class="entry-actions">
          <!-- <button class="icon-btn edit" (click)="onEdit(entry)">
            <i class="fas fa-pen"></i>
          </button> -->
          <button class="icon-btn delete" (click)="onDeleteClicked(entry)">
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </div>

      <div class="entry-content" *ngIf="!entry.expanded">
        {{ entry.content | stripHtml | slice:0:200 }}
        <span *ngIf="(entry.content | stripHtml).length > 200">...</span>
        <a class="read-more" *ngIf="(entry.content | stripHtml).length > 200" (click)="entry.expanded = true">Read
          More</a>
      </div>

      <div class="entry-content" *ngIf="entry.expanded" [innerHTML]="entry.content">
        <!-- after its expanded content will come here-->
      </div>
    </div>
  </div>
</div>

<!-- Confirm Delete Dialog -->
<app-confirm-dialog *ngIf="showConfirmDialog" [title]="confirmDialogData.title" [message]="confirmDialogData.message"
  [confirmText]="confirmDialogData.confirmText" [cancelText]="confirmDialogData.cancelText"
  (confirm)="onConfirmDelete()" (cancel)="closeConfirmDialog()" />