<div class="entrys">
  <div class="entry" *ngFor="let entry of entries">
    <div class="entry-wrapper">
      <div class="entry-header">
        <div class="entry-meta">
          <span>{{ entry.date | date:'dd MMM yyyy' }}</span> |
          <span>{{ entry.mood }}</span>
        </div>
        <!-- <div class="entry-actions">
          <button aria-label="Edit entry">✏️</button>
          <button aria-label="Delete entry">🗑️</button>
        </div> -->
      </div>

      <div class="entry-content" [innerHTML]="entry.content"></div>
    </div>
  </div>
</div>
