<div [id]="toolbarId" class="customToolbar">
  <button class="ql-bold custom-button"></button>
  <button class="ql-italic custom-button"></button>
  <button class="ql-underline custom-button"></button>
  <button class="ql-list custom-button" value="ordered"></button>
  <button class="ql-list custom-button" value="bullet"></button>
  <button class="ql-link custom-button"></button>
  <button class="ql-clean custom-button"></button>
</div>

<quill-editor
  [(ngModel)]="content"
  (onContentChanged)="onContentChanged($event)"
  [modules]="editorModules"
  class="custom-editor"
  [placeholder]="placeholder"
></quill-editor>
