<div *ngIf="errorMessage" class="error-message">
  <p>{{ errorMessage }}</p>
  <button (click)="retry()" type="button" class="custom-button">Retry</button>
</div>

<div *ngIf="isloading" class="loading-holder">
  <span class="spinner"></span>
</div>

<div *ngIf="diaryEntries.length === 0 && !isloading && !errorMessage" class="empty-state">
  <p>You haven’t written any diary entries yet.</p>
  <p>Start capturing your thoughts — your journey begins with the first entry!</p>
  <a class="link" tabindex="0" routerLink="/home">Add New Entry</a>
</div>

<div class="toggle-chart-container" *ngIf="!isloading && !errorMessage && diaryEntries.length >0">
  <div class="view-toggle">
    <button [class.active]="viewMode === 'daily'" (click)="onViewModeChange('daily')">Daily</button>
    <button [class.active]="viewMode === 'monthly'" (click)="onViewModeChange('monthly')">Monthly</button>
    <button [class.active]="viewMode === 'yearly'" (click)="onViewModeChange('yearly')">Yearly</button>
  </div>

  <div class="chart-scroll-wrapper">
    <div class="chart-container">
      <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" chartType="line"></canvas>
    </div>
  </div>
</div>